<div id="ktc">
  <div class="ktc_inner">
    <div class="backer"></div>
    <div class="ktc_content">
      <div class="header"><%= name %></div>
      <img class="portrait" src="http://watchdog.net<%= photo_path %>" />
      <div class="blocks">
        <!-- Render target for all the blocks -->
      </div>
    </div>
  </div>
</div>