<div id="ktc" class="search" style="background-image: url(<%= KTC_ROOT %>/images/search_backer.png);">
  <img src="<%= KTC_ROOT %>/images/spinner.gif" alt="" />
  <div class="searching_for">searching for:</div>
  <div class="search_text">"<%= text %>"</div>
</div>