/*------------------------------------------
        BOOKMARKLET JUMP OFF PAGE
------------------------------------------*/

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
  a.the_whole_enchilada {
    color: #cf1a0c;
    font-size: 16px;
    text-decoration: underline;
  }

.container {
  position: fixed;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  background: #fff;
}
  #explanation {
    color: #422;
    width: 400px;
    height: 16%;
    position: fixed;
    right: 0px; top: 0;
    border-right: 30px solid #d94a3f;
    padding: 360px 15px 0 15px;
    text-align: right;
    font: 14px/20px Arial, sans-serif;
  }
    #explanation_inner {
      position: absolute;
      padding: 15px 14px 0 15px;
      width: 425px;
      bottom: 0px; right: 0px;
    }
    #explanation p {
      margin: 0;
    }
    #explanation span.def {
      border-bottom: 1px dotted #d94a3f;
      padding: 0 2px 0 2px;
      cursor: help;
    }
    #explanation li a {
      border-bottom: 1px solid #d94a3f;
    }

#knowthycongressman {
  position: fixed;
  right: 30px; top: 0px;
}
#horizon {
  position: fixed;
  bottom: 0px; left: 0px; right: 0px;
  height: 75px;
  background: #cf1a0c;
  opacity: 0.77;
  filter: alpha(opacity=77);
}
#sunlight {
  display: block;
  width: 246px; height: 28px;
  position: fixed;
  bottom: 5px; right: 38px;
  background: url(/images/an_app_for_america.png);
}
#senator, #ashurst {
  position: fixed;
  display: block;
  width: 422px;
  margin-left: -200px;
  left: 25%; bottom: 0;
}
  #senator {
    height: 556px;
    background: url('/images/ashurst_arizona.jpg') 0 0 no-repeat;
  }
  #ashurst {
    font: 11px Arial, sans-serif;
    color: white;
    bottom: 9px;
    margin-left: -180px;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }