/*----- COLORS ------
Dark:         #383435
Yellow:       #f5e900
LightYellow:  #f8ef96
White:        #f4f6f5
Blue?:        #00e9f5
Pink?:        #c34642   From GOP.gov's seal
-------------------*/

#ktc.politician {
  border: 1px solid #b0b8b0;
  color: #383435;
  font-weight: bold;
  font-family: Arial, sans-serif;
  position: absolute;
  width: 795px;
  height: 1540px;
  z-index: 1000;
  text-align: left;
}
#ktc a { border: none; }
#ktc a img { border: none; }
#ktc .ktc_inner {
  position: relative;
  height: 1540px;
  margin: 20px 10px 20px 20px;
}
  #ktc .backer {
    background: #f4f6f5;
    position: absolute;
    top: -20px; right: -10px; left: -20px; bottom: 20px;
    opacity: 0.96;
  }
  #ktc .big_name {
    margin: 0;
    position: absolute;
    font-size: 50px;
    top: 10px;
  }
  #ktc .what_is {
    position: absolute;
    left: 2px; top: 0;
    text-transform: uppercase;
    font: normal 11px Arial, sans-serif;
  }
  #ktc .portrait {
    border: 1px solid #b0b8b0;
    position: absolute;
    right: 10px; top: 0px;
    height: 175px;
  }
  #ktc .ktc_content {
    position: relative;
    z-index: 5;
  }
  #ktc .blocks {
    padding-top: 197px;
  }
    #ktc .block {
      border-top: 3px double #b0b8b0;
      width: 245px; height: 75px;
      margin-right: 10px;
      float: left;
    }
      #ktc .block.canvas {
        clear: both;
        position: absolute;
        border-top: 0px;
        margin-top: 3px;
        z-index: -1;
      }
      #ktc .block.short {
        width: 181px;
      }
      #ktc .block.half {
        width: 372px;
      }
      #ktc .block.double {
        width: 500px;
      }
      #ktc .block.triple {
        width: 755px;
      }
      #ktc .block.xbig {
        height: 110px;
      }
      #ktc .block.thin {
        font-weight: normal;
      }
      #ktc .block.open {
        height: auto;
        padding-bottom: 20px;
      }
        #ktc .block .question {
          font: 11px Arial, sans-serif;
          margin: 3px 0 0 0;
          text-transform: uppercase;
        }
        #ktc .block .answer {
          font-size: 35px;
          margin: 5px 0 0 5px;
        }
          #ktc .block.xbig .answer {
            line-height: 67px;
            font-size: 70px;
          }
          #ktc .block.xsmall .answer {
            font-size: 16px;
            font-variant: small-caps;
            line-height: 18px;
          }
            #ktc .block small {
              font: normal 11px Arial, sans-serif;
            }
            
            
/* ------- Let's get specific ----------- */
#ktc .block.n_bills_cosponsored .answer {
  line-height: 36px;
  font-size: 40px;
}
#ktc .block.n_bills_introduced .answer {
  line-height: 48px;
  font-size: 55px;
}
#ktc .block.n_bills_debated .answer {
  line-height: 63px;
  font-size: 75px;
}
#ktc .block.table {
  height: 135px;
}
  #ktc .block.table .answer {
    font-size: 14px;
  }
    #ktc .table_row {
      position: relative;
      margin-bottom: 3px;
    }
      #ktc .table_total {
        position: absolute;
        right: 15px;
        font: 11px Arial, sans-serif;
        line-height: 18px;
      }
#ktc .block.photographs {
  height: 114px;
}
  #ktc .block.photographs .photograph {
    float: left;
    margin-right: 4px;
    font-size: 0px;
    border: 2px solid #B0B8B0;
  }
#ktc .block.articles .answer {
  margin-top: 8px;
}
  #ktc a.nytimes_article {
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    margin-bottom: 8px;
    color: #383435;
  }
    #ktc a.nytimes_article .article_title {
      color: #004276;
    }
      #ktc a.nytimes_article .article_title:hover {
        text-decoration: underline;
      }
    #ktc a.nytimes_article .article_body {
      display: block;
      color: #777;
      font-weight: normal;
      font-size: 12px;
      height: 16px;
      overflow: hidden;
    }
  
      
    