/*----- COLORS ------
Dark:         #383435
White:        #f4f6f5
Border:       #b0b8b0
Dem:          #00e9f5
Rep:          #f58980
Indy:         #80d68a
-------------------*/

#ktc a { 
  border: none;
  color: #383435;
  text-decoration: none;
}
  #ktc a:hover {
    text-decoration: underline;
  }
  #ktc a:visited {
    color: #383435;
  }
  #ktc a img { 
    border: none; 
  }
  
/* --- First off, the search box --- */
#ktc.search {
  position: absolute;
  width: 280px; height: 50px;
  margin: 0; padding: 50px;
  font: bold 16px "Helvetica Neue", Arial, sans-serif;
  color: #383435;
}
  #ktc.search img {
    position: absolute;
    top: 50px; right: 50px;
  }
  #ktc.search .searching_for {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 16px;
  }
  #ktc.search .search_text {
    margin: 7px 0 0 0;
    height: 20px;
    overflow: hidden;
  }

/* --- Now the real politician page --- */
#ktc.politician {
  cursor: move;
  color: #383435;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  width: 895px;
  height: 1260px;
  z-index: 1000;
  text-align: left;
} 
#ktc .ktc_inner {
  position: relative;
  height: 1160px;
  margin: 70px 60px 70px 70px;
}
  #ktc .backer {
    background: #f4f6f5;
    position: absolute;
    top: -20px; right: -10px; left: -20px; bottom: 20px;
    opacity: 0.96;
  }
    #ktc .closer {
    width: 30px; height: 30px;
    position: absolute;
    cursor: pointer;
    top: -15px; left: -15px;
  }
  #ktc .big_name {
    margin: 0;
    position: absolute;
    font-size: 50px;
    line-height: 58px;
    top: 10px;
  }
  #ktc .what_is {
    position: absolute;
    left: 2px; top: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
  }
  #ktc .portrait {
    border: 1px solid #b0b8b0;
    position: absolute;
    right: 11px; top: 0px;
    height: 175px;
  }
  #ktc .contact_info {
    position: absolute;
    top: 70px; left: 2px;
  }
    #ktc .contact_item {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: normal;
      line-height: 18px;
      padding-left: 17px;
      background-repeat: no-repeat;
      background-position: 0px 2px;
    }
  #ktc .ktc_content {
    position: relative;
    z-index: 5;
  }
  #ktc .blocks {
    padding-top: 197px;
  }
    #ktc .block {
      border-top: 3px double #b0b8b0;
      width: 245px; height: 75px;
      margin-right: 10px;
      float: left;
    }
      #ktc .block.canvas {
        clear: both;
        position: absolute;
        border-top: 0px;
        margin-top: 3px;
        z-index: -1;
      }
      #ktc .block.short {
        width: 181px;
      }
      #ktc .block.half {
        width: 372px;
      }
      #ktc .block.double {
        width: 500px;
      }
      #ktc .block.triple {
        width: 755px;
      }
      #ktc .block.xbig {
        height: 110px;
      }
      #ktc .block.thin {
        font-weight: normal;
      }
      #ktc .block.open {
        height: auto;
        padding-bottom: 20px;
      }
        #ktc .block .question {
          font-size: 11px;
          font-weight: normal;
          margin: 3px 0 0 0;
          text-transform: uppercase;
        }
        #ktc .block .answer {
          line-height: 35px;
          font-size: 30px;
          margin: 5px 0 0 5px;
        }
          #ktc .block.xbig .answer {
            line-height: 67px;
            font-size: 70px;
          }
          #ktc .block.xsmall .answer {
            font-size: 14px;
            line-height: 18px;
          }
            #ktc .block small {
              font-size: 11px;
              font-weight: normal;
            }
            
            
/* ------- Let's get specific ----------- */
#ktc .block.n_bills_cosponsored .answer {
  line-height: 36px;
  font-size: 40px;
}
#ktc .block.n_bills_introduced .answer {
  line-height: 48px;
  font-size: 53px;
}
#ktc .block.n_bills_debated .answer {
  line-height: 57px;
  font-size: 66px;
}
#ktc .block.n_bills_enacted .answer {
  line-height: 66px;
  font-size: 80px;
}
#ktc .block.table {
  height: 135px;
}
  #ktc .block.table .answer {
    font-size: 14px;
  }
    #ktc .table_row {
      line-height: 16px;
      position: relative;
      margin-bottom: 3px;
    }
      #ktc .table_total {
        position: absolute;
        right: 15px;
        font-size: 11px;
        line-height: 18px;
      }
#ktc .block.photographs {
  height: 120px;
}
  #ktc .block.photographs .photograph {
    float: left;
    margin-right: 4px;
    font-size: 0px;
    border: 2px solid #B0B8B0;
  }
    #ktc .block.photographs .photograph:hover {
      border: 2px solid #383435;
    }
#ktc .block.articles .answer {
  margin-top: 10px;
}
  #ktc .nytimes_article {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
    line-height: 14px;
  }
    #ktc .nytimes_article .article_title {
      color: #383435;
      text-decoration: none;
    }
      #ktc .nytimes_article .article_title:hover {
        text-decoration: underline;
      }
    #ktc .nytimes_article .article_body {
      display: block;
      color: #545456;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      height: 16px;
      overflow: hidden;
    }
#ktc .words {
  
}
  #ktc .words .capitol_word {
    float: left;
    width: 150px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 4px;
  }
    #ktc .words .capitol_word small {
      display: block;
      margin-top: 4px;
      line-height: 10px;
    }
