<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="author" content="http://ashkenas.com/" />
  <title>Know thy Congressman</title>
  <link href="/stylesheets/bookmarklet.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container"> </div>
  <div id="senator">  </div>
  
  <div id="explanation">
    <div id="explanation_inner">
      <p class="first_child">
        <q><span class="def" title="Know Thy Congressman">KTC</span></q>
        is a 
        <span class="def" title="a browser bookmark containing runnable code">bookmarklet</span>
        that displays an abundance of political and biographical
        <span class="def" title="bills, birthplace, earmarks, campaign contributors, articles, favorite words, education, photographs, a maverick-o-meter and more...">information</span> 
        about current members of the Senate and House of Representatives.
      </p>
      <br />
      <p> 
        To use it, highlight the name of a legislator on a webpage and click the bookmark.
        Or, click it anytime to search politicians by name.
        To install it, drag the link below into your 
        <span class="def" title="located towards the top of the browser window">Bookmarks Toolbar</span>.
      </p>
      <br />
      <p>
        <a class="the_whole_enchilada" title="drag me into your bookmarks" href="<%= render :partial => 'bookmarklet.js.erb' -%>">KTC</a>
      </p>
      <br />
      <p>
        Here's some famous names to get you started &mdash; <br />
        Mitch McConnell, Nancy Pelosi, Thad Cochran, Charlie Rangel.
      </p>
    </div>
  </div>

  <img id="knowthycongressman" src="/images/KNOWTHYCONGRESSMAN.png" alt="" />
  <div id="horizon">  </div>
  <a id="sunlight" href="http://sunlightlabs.com/appsforamerica/" title="Sunlight Labs | Apps For America">   </a>
  <a href="http://en.wikipedia.org/wiki/Henry_F._Ashurst" id="ashurst">(Senator Ashurst of Arizona)</a>
</body>
</html>
