<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="author" content="http://ashkenas.com/" />
  <title>Know thy Congressman | Credits</title>
  <link href="/stylesheets/bookmarklet.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
</head>

<body>
  <div class="container"> </div>
  <div id="senator">  </div>
  
  <div id="explanation">
    <div id="explanation_inner">
      <p class="first_child">
        <q><span class="def" title="Know Thy Congressman">KTC</span></q>
        is made possible by a group of generous and informative 
        <span class="def" title="Application Programming Interface">API</span>s, 
        which together provide every bit of information:
        <ul style="list-style:none;">
          <li><a target="_blank" href="http://services.sunlightlabs.com/api/">Sunlight Labs API</a></li>
          <li><a target="_blank" href="http://watchdog.net/">Watchdog.net JSON pages</a></li>
          <li><a target="_blank" href="http://developer.nytimes.com/docs/timestags_api">New York Times Tags API</a></li>
          <li><a target="_blank" href="http://developer.nytimes.com/docs/article_search_api">New York Times Articles API</a></li>
          <li><a target="_blank" href="http://www.opensecrets.org/action/api_doc.php">Open Secrets API</a></li>
          <li><a target="_blank" href="http://www.flickr.com/services/api/">Flickr Images API</a></li>
          <li><a target="_blank" href="http://www.capitolwords.org/api/">Capitol Words API</a></li>
        </ul>
      </p>
      <p>
        Many thanks to the Sunlight Foundation for holding this contest.
      </p>
    </div>
  </div>

  <img id="knowthycongressman" src="/images/KNOWTHYCONGRESSMAN.png" alt="" />
  <div id="horizon">  </div>
  <a id="sunlight" href="http://sunlightlabs.com/appsforamerica/" title="Sunlight Labs | Apps For America">   </a>
  <a href="http://en.wikipedia.org/wiki/Henry_F._Ashurst" id="ashurst">(Senator Ashurst of Arizona)</a>
</body>
</html>
